
@media screen {

/* basic styles
********************************************************************/

html {
    overflow-x: auto;
    overflow-y: scroll;
    margin: 0;
}
html,
body {
    background-color: #fff;
    color: #333;
    padding: 0;
}
body {
    margin: 1em 2em;
    font: normal 100%/1.4 Frutiger, "Frutiger Linotype", Univers, Calibri, Myriad, "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif; /* §fsize §font */
    -webkit-text-size-adjust: 100%;
}


/*____________ headings ____________*/

h1,
h2,
h3 {
    font-weight: bold;
    line-height: 1.2;
    color: #666;
    background-color: inherit;
    padding: 0;
    clear: both;
}

h1 {
    font-size: 2.25em;
    margin: 0;
}
h2 {
    font-size: 1.5em;
    margin: 0 0 0.666em;
}
h3 {
    font-size: 1.125em;
    margin: 0 0 0.888em;
}


/*____________ basic margins and paddings ____________*/

p,
ul,
ol,
dl {
    margin: 0 0 1.4em 0; /* bottom margin = line-height */
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
}


/*____________ lists ____________*/

li,
dd,
dt {
    padding: 0;
    margin: 0;
    list-style: none;
}
dt {
    font-weight: bold;
}

li li {
    font-size: 100%;
}


/*____________ links ____________*/

a {
    background-color: inherit;
}
a:link,
a:visited {
    text-decoration: none;
}
a:link {
    color: #00c;
}
a:visited {
    color: #606;
}
a:link:hover,
a:visited:hover,
a:link:focus,
a:visited:focus,
a:link:active,
a:visited:active {
    text-decoration: underline;
    outline: none;
}
a:link:active,
a:visited:active {
    color: #c00;
}


/*____________ forms ____________*/

form {
    display: inline;
    margin: 0;
    padding: 0;
}
label {
    vertical-align: middle;
    cursor: pointer;
}
input {
    font: inherit;
    color: inherit;
    line-height: normal;
    margin: 0;
    vertical-align: middle;
    padding: .1em;
}
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}


/*____________ misc ____________*/

abbr {
    cursor: help;
    border-bottom: 1px dotted;
    font-style: normal;
}

/* hide something in an accessible way */
.a11y {
    position: absolute;
    left: -99999px;
    top: -99999px;
    font-size: 0;
    overflow: hidden;
    display: inline;
}


/* irclogger-specific styles
********************************************************************/

a.skip {
    position: absolute;
    top: 0;
    right: 2em;
}

footer {
    border-top: 1px solid #ccc;
    text-align: right;
    padding: .7em 2em .1em;
    margin: 0 -2em;
    display: block;
}


/*____________ navigation below ____________*/

ul {
    overflow: hidden;
}
ul li {
    float: left;
}

ul.archive {
    margin-bottom: .9em;
}

ul.archive li a {
    display: inline-block;
    padding: .3em .5em;
    border: 1px solid #ccc;
    margin: 0 .4em .7em 0;
    border-radius: 3px;
}

ul.archive li.today {
    clear: left;
}

p.hint {
    margin: -.7em 0 .7em;
}

ul.filters li {
    margin-right: 1.5em;
}

ul.filters label,
ul.filters input,
ul.filters small {
    display: block;
}


/*____________ the log ____________*/

#log {
    margin: 0 -2em 1.4em;
    background-color: #eee;
    border: solid #ccc;
    border-width: 1px 0;
    padding: 1em 2em;
}

#log li {
    opacity: .5;
}
#log li.public {
    opacity: 1;
}
#log a.time {
    color: #333;
}


} /* /@media */

/*____________ for screen and print ____________*/

#log a.time {
    float: left;
    min-width: 4.5em;
}

#log dl {
    display: inline;
}
#log dt {
    display: inline;
    font-weight: normal;
}
#log .public dt {
    font-weight: bold;
}
#log dd {
    margin: -.2em 0 .2em 4.5em;
}


/*____________ for smaller screens ____________*/

@media only screen and (max-width: 50em) {

body {
    margin: 1em .5em .2em;
}

a.skip {
    right: .5em;
}

#log {
    margin-left: -.5em;
    margin-right: -.5em;
    background-color: #eee;
    border: solid #ccc;
    border-width: 1px 0;
    padding-left: .5em;
    padding-right: .5em;
}

footer {
    margin-left: -.5em;
    margin-right: -.5em;
    padding-left: .5em;
    padding-right: .5em;
}


h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1.125em;
    margin: 0 0 0.888em;
}
h3 {
    font-size: 1em;
    margin: 0 0 1.0em;
}


} /* /@media */


/*____________ print ____________*/

@media print {

a.skip,
.a11y,
#nav {
    display: none;
}

footer {
    border-top: 1px solid;
}

#log {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

#log li {
    display: none;
    margin-left: 0;
    padding-left: 0;
}
#log li.public {
    display: block;
}

#log a.time {
    color: inherit;
    text-decoration: none;
}


} /* /@media */
